@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "flatpickr/dist/flatpickr.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}


body .flatpickr-day.selected,
body .flatpickr-day.selected:hover,
body .flatpickr-day.selected:focus {
    background: #4e75ff;
    border-color: #4e75ff;
    color: #fff;
}

body .flatpickr-time input.flatpickr-hour,
body .flatpickr-time input.flatpickr-minute,
body .flatpickr-time .flatpickr-time-separator {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

body .flatpickr-day.today {
    border-color: #4e75ff;
}

body .flatpickr-day:hover {
    background: #e2e2e2;
}

body .flatpickr-time input:focus {
    font-size: 16px;
    font-weight: 600;
}

body .flatpickr-calendar {
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
    
}

.iziToast {
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 4px !important;
}

.iziToast>.iziToast-close {
    opacity: 1 !important;
    background-size: 12px !important;
}

.iziToast-capsule .iziToast-icon {
    font-size: 20px !important;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.timer-section{
    width: 355px;
    height: 144px;
    margin: 36px 0 0 156px;
}

.timer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    gap: 24px;
    margin: 32px 0 0 0;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
}

.label{
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}

#datetime-picker{
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}
#datetime-picker:hover{
    border-color:#000;
}
#datetime-picker:active{
    border-color: #4e75ff;
    color: #000;
}
#datetime-picker:disabled{
    color: #808080;
}

button{
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
    background: #6c8cff;
}
button:disabled{
    background: #cfcfcf;
    color: #989898;
}
